mixin wwaRequirements()
    - const resources = wwa.resources
    // wwa requirements
    link(rel="stylesheet" href=resources.wwaCss)
    - const audioJsFile = resources.audio.dir + (resources.audio.dir.endsWith("/") ? "" : "/" ) + resources.audio.js
    
    case isDevMode
        when false
            script(src=audioJsFile)
            script(src=resources.wwaJs)
        when true
            script(src=resources.cryptoJsInDevMode)
            script(src=audioJsFile)
            script(src=resources.wwaJs)
    // /wwa requirements


mixin copyright(config)
    - const thisYear = new Date().getFullYear();
    - const lastYear = !config.range ? "" :(config.range.lastYear === "present" ? thisYear : config.range.lastYear);
    - const range = config.range ? `${config.range.firstYear}-${lastYear}` : "";
    p
        | #{config.genre} &quot;
        a(href=config.product.href).wwa-copyright #{config.product.name}
        | &quot; &copy; #{range} #{config.credit}


doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title #{title}
        +wwaRequirements(wwa.resources)

    body
        #wrapper
            #wwa-wrapper.wwa-size-box(
                data-wwa-mapdata=wwa.resources.mapdata,
                data-wwa-loader=wwa.resources.loader
                data-wwa-audio-dir=wwa.resources.dir,
                data-wwa-urlgate-enable=wwa.urlgateEnable,
                data-wwa-title-img=wwa.titleImg
            )
    
        if copyrights
            footer#copyright
                each copyright in copyrights
                    +copyright(copyright)

