mixin additionalCss(additionalCssFiles)
    if additionalCssFiles
        each cssFileName in additionalCssFiles
            link(rel="stylesheet" href=cssFileName)

mixin wwaRequirements(resources, concatDirAndFile, isDevMode)
    // wwa requirements
    link(rel="stylesheet" href=resources.wwaCss)
    - const audioJsFile = concatDirAndFile(resources.audio.dir, resources.audio.js)
    
    case isDevMode
        when false
            script(src=audioJsFile)
            script(src=resources.wwaJs)
        when true
            script(src=resources.cryptoJsInDevMode)
            script(src=audioJsFile)
            script(src=resources.wwaJs)
    // /wwa requirements

mixin copyrightWithRange(config, range)
    p
        | #{config.genre} &quot;
        a(href=config.product.href).wwa-copyright #{config.product.name}
        | &quot; #{range} &copy; #{config.credit}

mixin copyright(config, thisYear)
    case !!config.range
        when true 
            - const firstYear = config.range.firstYear;
            - const lastYear = config.range.lastYear === "present" ? thisYear : config.range.lastYear;
            - const range = `${firstYear}-${lastYear}`;
            +copyrightWithRange(config, range)
        when false
            +copyrightWithRange(config)

doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title #{page.title}
        +additionalCss(page.additionalCssFiles)
        +wwaRequirements(page.wwa.resources, utils.concatDirAndFile, page.isDevMode)

    body
        #wrapper
            #wwa-wrapper.wwa-size-box(
                data-wwa-mapdata=page.wwa.resources.mapdata,
                data-wwa-loader=page.wwa.resources.loader
                data-wwa-audio-dir=page.wwa.resources.dir,
                data-wwa-urlgate-enable=page.wwa.urlgateEnable,
                data-wwa-title-img=page.wwa.titleImg
            )
    
        if page.copyrights
            footer#copyright
                each copyright in page.copyrights
                    +copyright(copyright, utils.thisYear)
